--
-- PostgreSQL database dump
--

\restrict 1gaEpq3Wy7kcomrwQDyLFhF1e4s0ecplABlBfXuADhEeJm2VPEsvnvgzebnEDFN

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_events (
    id bigint NOT NULL,
    org_id bigint NOT NULL,
    facility_id bigint,
    source_id character varying(100),
    occurred_at timestamp without time zone NOT NULL,
    category character varying(100) NOT NULL,
    subcategory character varying(100),
    unit character varying(50) NOT NULL,
    value_numeric numeric(18,6) NOT NULL,
    currency character varying(10),
    spend_value numeric(18,6),
    raw_payload_json json,
    extracted_fields_json json,
    scope_hint character varying(10),
    hash_dedupe character varying(64) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    CONSTRAINT ck_events_value_nonneg CHECK ((value_numeric >= (0)::numeric))
);


ALTER TABLE public.activity_events OWNER TO postgres;

--
-- Name: activity_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activity_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_events_id_seq OWNER TO postgres;

--
-- Name: activity_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activity_events_id_seq OWNED BY public.activity_events.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: emission_factors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emission_factors (
    id bigint NOT NULL,
    namespace character varying(50) DEFAULT 'global'::character varying NOT NULL,
    category character varying(100) NOT NULL,
    unit_in character varying(50) NOT NULL,
    unit_out character varying(50) NOT NULL,
    factor_value numeric(18,6) NOT NULL,
    gwp_horizon bigint DEFAULT '100'::bigint NOT NULL,
    geography character varying(50) DEFAULT 'GLOBAL'::character varying NOT NULL,
    vendor character varying(50) NOT NULL,
    method character varying(50) NOT NULL,
    valid_from timestamp without time zone NOT NULL,
    valid_to timestamp without time zone NOT NULL,
    version bigint DEFAULT '1'::bigint NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.emission_factors OWNER TO postgres;

--
-- Name: emission_factors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.emission_factors_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.emission_factors_id_seq OWNER TO postgres;

--
-- Name: emission_factors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.emission_factors_id_seq OWNED BY public.emission_factors.id;


--
-- Name: emissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emissions (
    id bigint NOT NULL,
    org_id bigint NOT NULL,
    event_id bigint NOT NULL,
    factor_id bigint NOT NULL,
    scope character varying(5) NOT NULL,
    co2e_kg numeric(18,6) NOT NULL,
    calc_version character varying(20) DEFAULT 'v1'::character varying NOT NULL,
    uncertainty_pct numeric(5,2),
    provenance_json json,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.emissions OWNER TO postgres;

--
-- Name: emissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.emissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.emissions_id_seq OWNER TO postgres;

--
-- Name: emissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.emissions_id_seq OWNED BY public.emissions.id;


--
-- Name: facilities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.facilities (
    id bigint NOT NULL,
    org_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    country character varying(2),
    grid_region character varying(50),
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.facilities OWNER TO postgres;

--
-- Name: facilities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.facilities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.facilities_id_seq OWNER TO postgres;

--
-- Name: facilities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.facilities_id_seq OWNED BY public.facilities.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    plan character varying(50) DEFAULT 'free'::character varying NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.organizations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizations_id_seq OWNER TO postgres;

--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    org_id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'viewer'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: activity_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_events ALTER COLUMN id SET DEFAULT nextval('public.activity_events_id_seq'::regclass);


--
-- Name: emission_factors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emission_factors ALTER COLUMN id SET DEFAULT nextval('public.emission_factors_id_seq'::regclass);


--
-- Name: emissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emissions ALTER COLUMN id SET DEFAULT nextval('public.emissions_id_seq'::regclass);


--
-- Name: facilities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facilities ALTER COLUMN id SET DEFAULT nextval('public.facilities_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: activity_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
0003_add_users_email_index
\.


--
-- Data for Name: emission_factors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: emissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: facilities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations (id, name, plan, created_at, updated_at) FROM stdin;
3	string	free	2025-10-18 08:04:24.738606	2025-10-18 08:04:24.738606
4	harshal	free	2025-10-28 07:36:59.618454	2025-10-28 07:36:59.618454
5	harhsal	free	2025-10-28 07:53:58.549253	2025-10-28 07:53:58.549253
6	bcda	free	2025-10-31 07:55:23.781055	2025-10-31 07:55:23.781055
7	vector	free	2025-10-31 08:03:23.398089	2025-10-31 08:03:23.398089
8	habibi	free	2025-10-31 08:17:17.825122	2025-10-31 08:17:17.825122
9	12345	free	2025-10-31 08:24:39.476422	2025-10-31 08:24:39.476422
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: activity_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activity_events_id_seq', 63, true);


--
-- Name: emission_factors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.emission_factors_id_seq', 10, true);


--
-- Name: emissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.emissions_id_seq', 38, true);


--
-- Name: facilities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.facilities_id_seq', 14, true);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizations_id_seq', 9, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: activity_events activity_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_events
    ADD CONSTRAINT activity_events_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: emission_factors emission_factors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emission_factors
    ADD CONSTRAINT emission_factors_pkey PRIMARY KEY (id);


--
-- Name: emissions emissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emissions
    ADD CONSTRAINT emissions_pkey PRIMARY KEY (id);


--
-- Name: facilities facilities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facilities
    ADD CONSTRAINT facilities_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_name_key UNIQUE (name);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: emissions uq_emissions_org_event; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emissions
    ADD CONSTRAINT uq_emissions_org_event UNIQUE (org_id, event_id);


--
-- Name: activity_events uq_events_org_hash; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_events
    ADD CONSTRAINT uq_events_org_hash UNIQUE (org_id, hash_dedupe);


--
-- Name: facilities uq_facilities_org_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facilities
    ADD CONSTRAINT uq_facilities_org_name UNIQUE (org_id, name);


--
-- Name: emission_factors uq_factors_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emission_factors
    ADD CONSTRAINT uq_factors_key UNIQUE (category, geography, valid_from, version);


--
-- Name: users uq_users_org_email; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_org_email UNIQUE (org_id, email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_emissions_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_emissions_org_id ON public.emissions USING btree (org_id);


--
-- Name: ix_events_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_events_category ON public.activity_events USING btree (category);


--
-- Name: ix_events_occurred_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_events_occurred_at ON public.activity_events USING btree (occurred_at);


--
-- Name: ix_events_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_events_org_id ON public.activity_events USING btree (org_id);


--
-- Name: ix_facilities_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_facilities_org_id ON public.facilities USING btree (org_id);


--
-- Name: ix_factors_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_factors_category ON public.emission_factors USING btree (category);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_org_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_org_id ON public.users USING btree (org_id);


--
-- Name: activity_events activity_events_facility_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_events
    ADD CONSTRAINT activity_events_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES public.facilities(id) ON DELETE SET NULL;


--
-- Name: activity_events activity_events_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_events
    ADD CONSTRAINT activity_events_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: emissions emissions_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emissions
    ADD CONSTRAINT emissions_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.activity_events(id) ON DELETE CASCADE;


--
-- Name: emissions emissions_factor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emissions
    ADD CONSTRAINT emissions_factor_id_fkey FOREIGN KEY (factor_id) REFERENCES public.emission_factors(id) ON DELETE RESTRICT;


--
-- Name: emissions emissions_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emissions
    ADD CONSTRAINT emissions_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: facilities facilities_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facilities
    ADD CONSTRAINT facilities_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: users users_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1gaEpq3Wy7kcomrwQDyLFhF1e4s0ecplABlBfXuADhEeJm2VPEsvnvgzebnEDFN

